<div class="superNav border-bottom py-2" style="background-color: #014122; font-size: 13px;">
    <div class="container-fluid">
        <div class="row">
            <div class=" col text-center ">
                <span class=" me-3 text-white my-auto ">Signup and
                    get 20% off to your first order. <a href="/user/signup" class="text-white" style="font-weight: 500;">SignUp Now</a>
                </span>
                <a href="/admin/login" class="text-white"><span class="me-3 text-white my-auto text-end">AdminLogin</span></a>
            </div>
        </div>                         
    </div>
</div>

<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#"
            style="font-family: 'Ravie', sans-serif; font-weight:bold; font-size: 24px; color: #014122;">Drip</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
            <div class="input-group">
                <span class="border-success input-group-text bg-success text-white"><i
                        class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control border-success" style="color:#7a7a7a">
                <button class="btn btn-success text-white">Search</button>
            </div>
        </div>
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <div class="ms-auto d-none d-lg-block">
                <div class="input-group">
                    <span class="border-success input-group-text bg-success text-white"><i
                            class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="text" class="form-control border-success" style="color:#7a7a7a">
                    <button class="btn btn-success text-white">Search</button>
                </div>
            </div>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase " aria-current="page" href="#">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="#">Brands</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-cart-shopping me-1"
                            style="color: #014122;"></i>Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-wallet me-1"
                            style="color: #014122;"></i>Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-heart me-1"
                            style="color: #014122;"></i>Wishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-circle-user me-1"
                            style="color: #014122;"></i>Account</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
